@import "normalize.css";
@import "./variables.scss";

@font-face {
	font-family: 'Jost';
	src: local('Jost'),
		url('../fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
}

:is(body, #app, .header) {
	background-color: $bc-color;
}

html,
body {
	font-family: 'Jost', sans-serif;
}

#app {
	margin: 0 auto;
	width: 80vw;
	height: 100vh;
	text-align: center;

	.header {
		height: 10vh;
	}

	.container {
		border: 1px solid;

		h1 {
			margin: 20px 0;
			font-size: calc(1em + 4vw);
			text-transform: uppercase;
			line-height: calc(1em + 1vw);
			font-weight: 500;
		}

		h2 {
			margin: 20px 20%;
			font-size: calc(0.5em + 2vw);
			font-weight: 200;
		}

	}


}